@charset "utf-8";
<!--“主页样式”-->
title
{
  font-family: "Smiley Sans";
  src:
    url("fonts\smiley-sans-v2.0.1\SmileySans-Oblique.otf.woff2") format("woff2");
}
.banner {
    font-family: "Smiley Sans";
    font-size: 48px;
    text-align: center;
}
a{
color: black;
} /* 未访问的链接 */
a:hover {
    color: burlywood;
} /* 鼠标悬停时的链接 *